# Maven spezifische Dateien
target/

# IDE spezifische Dateien
.idea/

# Betriebssystem spezifische Dateien
.DS_Store
Thumbs.db
*.swp
*~

# Sicherungsdateien
*.bak
*.tmp
*.old
*.orig

# Lokale Konfigurationsdateien
*.env
.todo-data.txt

# Testspezifische Ausgaben
test-output/
surefire-reports/

# Temporäre Dateien
*.tmp
*.out

# Paket-Manager spezifische Dateien
.mvn/
